.loginContainer {
    background-color: white;
    min-width: 350px;
    max-width: 25%;
    padding: 30px;
    border-radius: 15px;
    margin: auto;
}

.loginContainer h1 {
    margin-bottom: 25px
}